*{
    margin: 0;
    padding: 0;
}
.pedidoContainer{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.cartPedido{
    display: flex;
    flex-direction: column;
}

p{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }