.header {
    width: 95%;
    display: flex;
    justify-content: space-between;
    background-color: black;
  }
.thisburger{
  color: chartreuse;
  text-decoration: none;
  padding: 10px;
}

.cart{
    margin-top: 10px;
    padding: 5px;
    background-color: rgb(255, 111, 0);
}

.cartNumber {
    margin: 0.5em;
  }
  