@font-face {
  font-family: gothan;
  src: url(./font/GothamBookFont.otf);
}
@font-face {
  font-family: iron;
  src: url(./font/iron_brine/Iron&Brine.ttf);
}



header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  padding: 5px 50px;
  background-color: black;
  box-shadow: 0px 1px 50px 8px #15A014;
  font-weight: 400;
  font-size: 20px;
  font-family: iron;
  width: 100%;
  position: relative;
}

header img {
  width: 50px;
  height: 50px;
}


header nav {
  display: flex;
  gap: 10px;
  align-items: center;
}


header nav a {
  text-decoration: none;
  color: #01B213;
  line-height: 50px;
  border-radius: 5px;
  padding: 0 10px;
}

header nav a:hover {
  color: #FFFFFF;
text-shadow: 0 0 5px #FFF, 0 0 10px #01B213, 0 0 15px #01B213, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
  cursor: pointer;
  transition: .3s all ease-in-out;
}

.cart{
    margin-top: 10px;
    padding: 5px;
    color: #FF4D4D; 
    line-height: 50px;
    border-radius: 5px;
    padding: 0 10px;
}

.cartNumber {
    margin: 0.5em;
  }
  