
.products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 250px;
    flex: 1;
}


.products h3 {
    padding: 10px;
}

.card-img img{
    border-radius: 10px;
    transition: .3s all ease-in-out;
}

.card-img img:hover{
    transform: scale(1.2);
}


.ingredientes {
    text-align: center;
    padding: 5px;
    max-width: 250px;
    transition: .3s all ease-in-out;
    font-size: 0.6rem;
}

.ingredientes:hover {
    transform: scale(1.2);
}

.botao {
    display: flex;
    cursor: pointer;
    margin-top: 0.5em;
    margin-bottom: 0.8rem;
    border-radius: 5px;
    background-color: green;
    border: none;
    padding: 10px 20px;
    color: white;
    font-family: gothan;
    font-size: 15px;
    transition: .3s all ease-in-out;
}

.botao:hover {
    background-color: #15A014;
}

.botao.removeButton {
    background-color: red;
}