
.products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 250px;
    flex: 1;
}

.products h2 {
    text-transform: uppercase;
    padding: 10px;
}

.products h3 {
    padding: 10px;
}

.card-img img{
    border-radius: 10px;
    transition: .3s all ease-in-out;
}

.card-img:hover ~.card-img img {
    transform: scale(1.2);
}


.ingredientes {
    text-align: center;
    max-width: 250px;
}

.botao {
    display: flex;
    cursor: pointer;
    margin-top: 0.5em;
    border-radius: 3px;
    background-color: green;
}

.botao.removeButton {
    background-color: red;
}