/* .hidden {
    display: none;
} */


.cardapio {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    background-image: url('../../assets/bg-footer.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: gothan;
    font-weight: lighter;
    align-items: center;
    padding: 30px;
}

.cardapioTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #02800F;
    margin: 1em ;
    font-family: iron;
    font-size: 3rem;
}

.productsContainer {
    max-width: 1000px;
    display: flex;
    justify-content: center;
    gap: 1em 4em;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

