
.cardapio {
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-image: url('../../assets/cardapio_background.png');
    background-size: cover;
}

.productsContainer {
    display: flex;
    width: 80vw;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: space-around;

    
}