
.cardapio {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 4em;
    background-image: url('../../assets/cardapio_background.png');
    background-size: cover;
    font-family: gothan;
    font-weight: lighter;
    align-items: center;
}

.cardapioTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #02800F;
    margin-top: 2em;
    font-family: iron;
    font-size: 3rem;
}

.productsContainer {
    height: 100vh;
    max-width: 900px;
    display: flex;
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;
    
}

